@import url('./fonts.css');
@import url('./reset.css');

.page {
  overflow: hidden;
  padding-top: 185px;
  position: relative;
}

.container {
  max-width: 1308px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
  position: relative;
}

.dark-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: no-repeat center center url('../img/bg-dark.jpg');
  background-size: cover;
  border-radius: 10px;
  color: white;
}

.space-between-block {
  display: flex;
  justify-content: space-between;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.logo {
  font-family: 'Circe', sans-serif;
  font-weight: 700;
  cursor: context-menu;
}

.page-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 74px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  color: #1e1e1e;
}

.text {
  font-family: 'Circe', sans-serif;
  font-weight: 350;
  font-size: 22px;
  line-height: 36px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #379ADD;
  color: white;
  font-family: 'Gilroy', sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
}

.button_link {
  text-transform: lowercase;
}

.button:hover {
  opacity: 0.8;
}

.link:hover {
  opacity: 0.7;
}

.pic0, .pic1, .pic1_mob, .pic2, .pic3, .pic4 {
  background: no-repeat center center;
  background-size: contain;
  position: absolute;
  z-index: -1;
}

.pic0 {
  background-image: url('../img/pic0.jpg');
  aspect-ratio: 0.93;
  width: 319px;
  z-index: -2;
}

.pic1 {
  background-image: url('../img/pic1.png');
  aspect-ratio: 0.9;
}

.pic1_mob {
    background-image: url('../img/pic1_mob.png');
    aspect-ratio: 0.86;
}

.pic2 {
  background-image: url('../img/pic2.jpg');
  aspect-ratio: 0.78;
}

.pic3 {
  background-image: url('../img/pic3.jpg');
  aspect-ratio: 0.93;
  width: 319px;
  z-index: -2;
}

.pic4 {
  background-image: url('../img/pic4.jpg');
  aspect-ratio: 0.93;
  width: 319px;
}

.pic0.pic0_1 {
  left: -144px;
  top: 0px;
}

.pic0.pic0_2 {
  top: 392px;
  right: -86px;
}


/* Header start */
.header {
  height: 150px;
  padding-top: 55px;
  background: white;
}

.header-content {
  display: flex;
  color: #2d2d2d;
}

.burger {
  width: 25px;
  height: 25px;
  position: relative;
  display: none;
  margin-top: 6px;
  margin-right: 15px;
}

.burger__checkbox {
  display: none;
}

.burger__line {
  position: absolute;
  background-color: black;
  width: 25px;
  height: 1px;
  left: 0;
  top: 0;
  transition: all .5s;
}

.burger__line:nth-of-type(2) {
  width: 20px;
  top: 8px;
}

.burger__line:nth-of-type(3) {
  top: 16px;
}

.burger__checkbox:checked + .burger .burger__line {
  transform: rotate(45deg);
  top: 6px;
  transition: all .5s;
}

.burger__checkbox:checked + .burger .burger__line:nth-of-type(2) {
  left: 3px;
  top: 6px;
}

.burger__checkbox:checked + .burger .burger__line:nth-of-type(3) {
  transform: rotate(135deg);
  top: 6px;
}

.burger__checkbox:checked ~ .header-menu {
  opacity: 1;
  height: auto;
  box-shadow: 0 5px 5px 1px rgb(0 0 0 / 10%);
  transition: all .5s;
}

.burger__checkbox:checked ~ .header-menu .header-menu__item {
  opacity: 1;
  height: auto;
  transition: all .5s;
}

.header__logo {
  font-size: 36px;
  line-height: 40px;
  margin-right: 73px;
}

.header-menu {
  display: flex;
}

.header-menu__item {
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  margin-right: 34px;
  color: #2d2d2d;
}

.header-menu__item:last-of-type {
  margin-right: 0;
}
/* Header end */

/* Footer start */
.footer {
  background: no-repeat center center url('../img/bg-footer.jpg');
  background-size: cover;
}

.footer__content {
  padding: 70px 0 40px;
  display: grid;
  grid-template-columns: 33% 25% 1fr;
}

.footer__logo {
  color: white;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 40px;
}

.footer-contacts .link {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #FFFFFF;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu__item {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer-menu__item:last-of-type {
  margin-bottom: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links .link {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer-links .link:last-of-type {
  margin-bottom: 0;
}

/* Foter end */







@media (min-width: 767px) and (max-width: 1024px) {
  .page {
    zoom: 0.8;
  }
}

@media (max-width: 1136px) {
  .page {
    padding-top: 115px;
  }

  .header {
    padding-top: 35px;
    height: 90px;
  }

  .header-content {
    align-items: center;
  }

  .burger {
    display: block;
  }

  .header__logo {
    font-size: 20px;
    line-height: 40px;
    margin-right: 0;
  }

  .header-menu {
    height: 1px;
    opacity: 0;
    flex-direction: column;
    background: white;
    width: 100%;
    transition: all 1s;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 15px 0;
    padding-left: 30px;
    transition: all .5s;
  }

  .header-menu__item {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
    height: 1px;
    opacity: 0;
    transition: all .5s;
  }

}

@media (max-width: 767px) {
  .pic0, .pic3, .pic4 {
    width: 118px;
  }

  .pic0.pic0_1 {
    width: 180px;
    left: -73px;
    top: 395px;
  }

  .pic0.pic0_2 {
    top: -71px;
    right: -41px;
  }

  .space-between-block {
    flex-direction: column;
  }

  .page-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .text {
    font-size: 12px;
    line-height: 20px;
  }

  .footer {
    background-image: url('../img/bg-footer_mob.jpg');
  }

  .footer__content {
    padding: 55px 0 60px;
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .footer-contacts {
    margin-bottom: 20px;
  }

  .footer-contacts .link {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-menu {
    margin-bottom: 20px;
  }

  .footer-menu__item {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-links .link {
    font-size: 14px;
    line-height: 20px;
  }

}