@import url('./base.css');

/* Courses start */
.courses {
  padding-bottom: 40px;
  position: relative;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.courses-list__item {
  width: 32%;
  margin-bottom: 3%;
}

.course-card {
  display: flex;
  flex-direction: column;
  color: #444444;
  align-items: center;
}

.course-card__img {
  width: 100%;
  aspect-ratio: 1.3;
  border-radius: 10px;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-image: url('../img/name.jpg'); */
  margin-bottom: 25px;
}

/* заглушка для проверки, удалить */
.course-card:nth-of-type(1) .course-card__img {
  background-image: url('../img/1809523101.webp');
}
.course-card:nth-of-type(2) .course-card__img {
  background-image: url('../img/photo_2018-05-12_17-31-36.jpg');
}
.course-card:nth-of-type(3) .course-card__img {
  background-image: url('../img/wallpaper3.jpg');
}

.course-card__title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card .text {
  text-align: center;
  margin-bottom: 20px;
  flex-grow: 2;
}

.course-card__price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #379ADD;
  text-align: center;
  margin-bottom: 5px;
}

.course-card__button {
  width: 315px;
  height: 80px;
}
/* Courses end */





@media (max-width: 1136px) {

  .courses {
    padding-bottom: 15px;
  }

  .courses-list__item {
    width: 48%;
    margin-bottom: 50px;
  }

}

@media (max-width: 767px) {

  .courses .pic3_1, .courses .pic3_2 {
    opacity: 0.65;
  }

  .courses .pic3_1 {
    left: -73px;
    top: 550px;
    width: 180px;
  }

  .courses .pic3_2 {
    top: 44px;
    right: -41px;
  }

  .courses-list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: unset;
  }

  .courses-list__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .course-card {
    align-items: center;
  }

  .course-card__img {
    margin-bottom: 15px;
  }

  .course-card__title {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    margin-bottom: 10px;
    width: 80%;
  }

  .course-card .text {
    margin-bottom: 15px;
  }

  .course-card__price {
    margin-bottom: 20px;
  }

  .course-card__button {
    width: 180px;
    height: 56px;
    font-size: 12px;
    line-height: 20px;
  }

}